<div class="container container-show">
  <div class="row">
  	<div class="room-box-left">
  	  <img src="<%= "/post_images/#{@post.id}.jpg" %>" class="room-image-show">
  	  <div class="room-box">
  	  	<div class="room-box-icon">
  	  	  <a href="">
  	  	  	<img src="<%= "/user_images/#{@user.image_name}" %>" class="icon-image">
  	  	  </a>
  	  	</div>
  	  	<div class="room-box-name">
  	  	  <p class="box-name-show"><%= @post.name %></p>
  	  	  <p class="box-area-show"><%= @post.eria %></p>
  	  	</div>
  	  </div>
  	  <div class="show-text-box">
  	  	<p class="show-text"><%= @post.text %></p>
  	  </div>
  	</div>

  	<div class="room-box-right">
  	  <div class="room-show-nav">
  	  	<h5 class="price-icon">¥<%= @post.price %> / 日</h5>
        <%= form_tag("/reservations/new", method: :get) do %>
  	  	<div class="room-show-date-select">
  	  	  <label for="start-date">開始日</label>
  	  	  <input type="date" name="start_date" id="start_date" class="image-uplode">
  	  	  <label for="start-date">終了日</label>
  	  	  <input type="date" name="end_date" id="start_date" class="image-uplode">
  	  	  <label for="start-date">人数</label>
  	  	  <input type="number" name="count" id="start_date" class="image-uplode">
          <input type="hidden" name="room_id" value="<%= params[:id] %>" id="room_id">
          <input type="hidden" name="post_name" value="<%= @post.name %>" id="post_name">
          <input type="hidden" name="post_text" value="<%= @post.text %>" id="post_text">
  	  	  <div>
  	  	  <input type="submit" name="commit" value="予約する" class="profile-submit show-button">
  	  	  </div>
  	  	</div>
        <% end %>
  	  </div>
  	</div>
  </div>
</div>